@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

$font-overpass: "Overpass", sans-serif;

// Primary

$orange: hsl(25, 97%, 53%);

// Neutral

$white: hsl(0, 0%, 100%);
$grey-light: hsl(217, 12%, 63%);
$grey-medium: hsl(216, 12%, 54%);
$blue-dark: hsl(213, 19%, 18%);
$blue-veryDark: hsl(216, 12%, 8%);

// Widths
$width-mobile: 375px;
$width-desktop: 1440px;

$paragraph-default: 1.5rem;

// Font weights

@mixin flexCenter($direction: row) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: $direction;
}
